/* Importation des fonts */

@font-face {
    /* Création d'un raccourci */
    font-family: "playfairDR";
    src: url(../font/PlayfairDisplay-Regular.ttf);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    font-family: "playfairDR", serif;
}

img,input {
    width: 100%;
}

body {
    /* margin: 0; */
}

/* Pour appeler l'id Logo j'utilise le slecteur id# et son nom "Logo" */
#logo {
    /* color: rgb(255, 0, 0); */
    padding: 1rem;
    letter-spacing: 5px;
    font-weight: 600;


}

/* Pour appeler un élément HTML dans un sélécteur j'utilise son nom */
nav {
    display: flex;
    /* Pour gérer l'alignement vertical des enfants de ma nav j'utilise align-items */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.75);
    /* Le Z-index ne foctionne pas avec une position statique(position par défaut) */
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 55px;
    top: 0;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 16px;
}

#img-header {
    background-image: url("../img/hamburger.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    /* Ne pas oublier le diplay flex pour lui faire comprendre qu'on va utiliser du flex */
    margin-top: 55px;
}

h1 {
    padding: 1rem;
    font-family: "playfairDR";
    font-weight: 400;
    letter-spacing: 5px;
}

/* MAIN */
/* SECTION */

#about,
#menu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 3rem auto;
}

#about div,#menu div {
    border: 1px red solid;
    width: 48%;
}

#about span {
    background-color: lightgrey;
}

#about h2,
#about h3,
#menu h2{
    text-align: center;
}

#about h2,#menu h2{
    letter-spacing: 5px;
    padding: 20px;
    font-size: 40px;
    font-weight: 400;
}

#about h3,#menu h3{
    padding: 20px 20px 5px 0px;
    letter-spacing: 5px;
    font-weight: 200;
    font-size: 20px;
}

#about p{
    font-size: 21px;
    padding: 10px 0;
    line-height: 32px;
}

#about .premier_p {
    font-weight: 500;
    margin: .5rem 0;
}

#about .second_p {
    font-weight: 100;
    color: gray;
}

#menu {
    display: flex;
    flex-direction: row-reverse;
}

#menu p{
    padding: 20px 20px 20px 0px;
}

/* A COMPLETER PLUS TARD */

#contact{
    width: 70%;
    margin: 3rem auto;
}

#contact input{
    border: none;
    border-bottom: 0.5px lightgray solid;
    padding: 0.5rem;
    margin: 0.5rem 0;
}
#contact .send{
    width: fit-content;
    border: none;
}